// some stuff about the page


.header{
	margin-bottom:50px;
	margin-top:20px;
	h6{
		font-style:italic;
		letter-spacing:1px;
		text-align:center;
	}
	h1{
		text-align:center;
		background:url('/assets/images/logo@2x.png') no-repeat;
		text-indent: -9999px;
		background-size: cover;
		height: 100px;
		width: 332px;
		margin: 0 auto;
	}
	nav{
		padding-top:10px;
		
		ul{
			list-style:none;
			text-align:center;	
			
			li{
				display:inline;
				text-transform:uppercase;
				margin:0 17px;
				a{
					color:@black;
					letter-spacing:1px;	
				}
			}
		}
	}
}
	
.thumbnails{
	text-align:center;
	
	.img-wrap{
		margin-bottom:40px;
	}
}

